In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl

In [4]:
import yfinance as yf

In [5]:
data = yf.Ticker('HDFCBANK.NS')

## Code for getting today's date

In [5]:
# from datetime import date
# date = date.today()
# date = date.strftime('%Y-%m-%d')
# date

## Opening dataframe

In [6]:
df = data.history(start="2021-01-01", end="2022-01-01")

In [7]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-01,1433.794585,1436.781657,1414.478161,1418.909058,4405469,0.0,0
2021-01-04,1431.803143,1431.803143,1392.971208,1409.897949,7870096,0.0,0
2021-01-05,1413.084078,1424.584353,1402.928082,1420.551758,7193412,0.0,0
2021-01-06,1428.816025,1433.794478,1407.010377,1414.428345,11067025,0.0,0
2021-01-07,1426.326823,1426.426368,1406.462844,1410.146851,9947421,0.0,0

In [8]:
df = df.drop(['Dividends', 'Stock Splits'], axis = 1)

In [9]:
df.head()

                   Open         High          Low        Close    Volume
Date
2021-01-01  1433.794585  1436.781657  1414.478161  1418.909058   4405469
2021-01-04  1431.803143  1431.803143  1392.971208  1409.897949   7870096
2021-01-05  1413.084078  1424.584353  1402.928082  1420.551758   7193412
2021-01-06  1428.816025  1433.794478  1407.010377  1414.428345  11067025
2021-01-07  1426.326823  1426.426368  1406.462844  1410.146851   9947421

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2021-01-01 to 2021-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    248 non-null    float64
 1   High    248 non-null    float64
 2   Low     248 non-null    float64
 3   Close   248 non-null    float64
 4   Volume  248 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.6 KB

### Adding the column "Candle Color" to the dataframe
### Already inputing encoded values.
* 1 - Green Candle
* 0 - Red Candle

In [11]:
candle_color = [];

In [12]:
for row in df.index:
    if(df["Open"][row] > df["Close"][row]):
        candle_color.append(0)
    else:
        candle_color.append(1)

In [13]:
df["Candle Color"] = candle_color

In [14]:
df.head()

,Open,High,Low,Close,Volume,Candle Color
Date,,,,,,
2021-01-01,1433.794585,1436.781657,1414.478161,1418.909058,4405469,0
2021-01-04,1431.803143,1431.803143,1392.971208,1409.897949,7870096,0
2021-01-05,1413.084078,1424.584353,1402.928082,1420.551758,7193412,1
2021-01-06,1428.816025,1433.794478,1407.010377,1414.428345,11067025,0
2021-01-07,1426.326823,1426.426368,1406.462844,1410.146851,9947421,0

### Adding the column "Candle Pattern" to the dataframe
### Already inputing encoded values.
* N - No pattern
* H - Hammer 
* IH - Inverted Hammer 
* IN - Inside Candle 
* EN - Engulf 
* D - Dogi 
* PL - Piercing Line

In [15]:
candle_pattern = []
body = []
weak_high = []
weak_low = []

In [44]:
# for row in df.index:
#     body = abs(df["Open"][row] - df["Close"][row])
# #     weak_high = df["High"][row] - df["Open"][row]
# #     weak_low = df["Close"][row] - df["Low"][row]
#     candle_length = df["High"][row] - df["Low"][row]
#     if(weak_high >= 2*(body)):
#         print("IH")
#         print(row)
#     elif(weak_low >= 2*(body)):
#         print("H")
#         print(row)

In [22]:
for row in df.index:
    body = abs(df["Open"][row] - df["Close"][row])
    if (df["Candle Color"][row] == 1):
        weak_high = df["High"][row] - df["Close"][row]
        weak_low = df["Open"][row] - df["Low"][row]
    else:
        weak_high = df["High"][row] - df["Open"][row]
        weak_low = df["Close"][row] - df["Low"][row]
    
    candle_length = df["High"][row] - df["Low"][row]
    
#     if((weak_low >= 3*(body)) and (body <= 0.2*(candle_length)) and (weak_high < 1.5*(body))):
#         print("H")
#         print(row)

H
2021-01-15 00:00:00
H
2021-02-03 00:00:00
H
2021-10-05 00:00:00
H
2021-11-29 00:00:00
H
2021-12-10 00:00:00

### Formula for Simple moving average
df['pandas_SMA_3'] = df.iloc[:,1].rolling(window=3).mean()

### Formula for exponential moving average
ema = stockValues.ewm(com=0.4).mean()